@font-face {
  font-family: "TwitterChirpBold";
  src: url("../fonts/chirp-bold-web.woff") format("woff");
}

@font-face {
  font-family: "TwitterChirpRegular";
  src: url("../fonts/chirp-regular-web.woff") format("woff");
}

@font-face {
  font-family: "TwitterChirpExtendedHeavy";
  src: url("../fonts/chirp-extended-heavy-web.woff") format("woff");
}

* {
  margin: 0;
  padding: 0;
  top: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  background-color: black;
}
.container {
  display: flex;
  align-items: center;
}

.section1 {
  background-image: url(../img/background1.png);
  background-position: center;
  width: 50%;
  height: 85vh;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
}

.section1 img {
  height: 50%;
  margin: auto;
  display: inline-block;
}
/*Section 2*/
.section2 {
  width: 50%;
  color: white;
  text-align: center;
}

.box1 {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.box1 img {
  height: 50px;
  margin: 20px 20px;
}

.box1 h1 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 10px 20px;
  margin-top: 0;
  font-size: 65px;
  font-weight: 900;
}

.box1 h2 {
  margin: 10px 20px;
  margin-bottom: 50px;
  font-size: 32px;
  font-weight: 900;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/*Box2*/

.box2 {
  display: flex;
  justify-content: center;
}
button {
  color: black;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
button:hover {
  background-color: rgb(222, 222, 222);
  border-color: rgb(51, 54, 57);
  border-width: 1px;
}

.btn1 {
  width: 19vw;
  max-width: 380px;
  font-weight: 700;
  border-radius: 9999px;
  text-align: center;
  margin-right: 10px;
  line-height: 25px;
  border-color: rgb(51, 54, 57);
  border-width: 1px;
  cursor: pointer;
  font-size: 1vw;
  height: 40px;
  transition: 200ms ease;
}

.btn1 img {
  height: 20px;
  margin: 2px 10px;
}

/*Btn2*/
.btn2 {
  width: 19vw;
  max-width: 380px;
  font-weight: 700;
  border-radius: 9999px;
  margin-left: 10px;
  border-color: rgb(51, 54, 57);
  border-width: 1px;
  font-weight: 700;
  cursor: pointer;
  line-height: 25px;
  font-size: 1vw;
  height: 40px;
  transition: 200ms ease;
}

.btn2 img {
  height: 20px;
  margin: 2px 10px;
}

.htab {
  display: flex;
  /* width:; */
  justify-content: center;
  margin: 4px 0;
}
.htab .left,
.htab .right {
  margin: auto 4px;
  background-color: rgb(47, 51, 54);
  height: 1px;
  width: 19vw;
}
.htab .center span {
  margin: 0 4px;
  color: rgb(231, 233, 234);
  font-size: 15px;
}

.email {
  display: inline-block;
  color: white;
  padding: 10px 40px;
  border: 3px solid rgb(29, 155, 240);
  border-radius: 30px;
  font-weight: 700;
  background-color: rgb(29, 155, 240);
  cursor: pointer;
  transition: 200ms ease;
}
.email:hover {
  background-color: rgb(14, 127, 202);
  border: 3px solid rgb(14, 127, 202);
}

.signin {
  transition: 200ms ease;
}

.signin:hover {
  background-color: rgb(14, 127, 202);
  border: 1px solid rgb(14, 127, 202);
}

p {
  font-size: 12px;

  color: rgb(115, 131, 134);
  margin-top: 20px;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
span {
  color: rgb(29, 155, 240);
  cursor: pointer;
}
span:hover {
  text-decoration: underline;
  text-decoration-color: rgb(29, 155, 240);
}
footer {
  position: relative;
}
.account {
  font-weight: 900;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.account button {
  margin: auto;
  
  width: 19vw;
  max-width: 380px;
  margin-top: 28px;
  color: white; /*change needed*/
  padding: 10px 0px;
  border: 2px solid rgb(29, 155, 240); /*change needed*/
  border-radius: 30px;
  font-weight: 700;
  background-color: rgb(29, 155, 240); /*change needed*/
  cursor: pointer;
  font-size: 1vw;
}

.account button:hover {
  background-color: rgb(23, 130, 201); /*change needed*/
  border: 2px solid rgb(23, 130, 201); /*change needed*/
}

.container2 {
  /* padding: 10px auto 0 auto !important; */
  display: flex;
  /* background: black; */
  background: transparent; /*changed just remove this*/
  padding: 20px 10px;
  padding-bottom: 0px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 13px;
}
.container2 a {
  margin: 4px 0;
  padding-right: 16px;
  color: grey;
  text-decoration: none;
  /* margin-bottom: 10px; */
}
.container2 a:hover {
  text-decoration: underline;
  transition: 1s;
}
.copyright {
  /* background-color: black; comment this to change */
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  height: 40px;
  display: block;
}
.copyright span {
  display: inline-block;
  margin: 10px 0;
  color: gray;
  font-size: 13px;
}
.copyright span:hover {
  text-decoration: none;
}

.account button {
    width: 19vw;
    max-width: 380px;
}

.Phone {
  flex-direction: column;
  align-items: start;
  justify-content: center;
  text-align: center;
}

.Phone p {
  margin-top: 8px;
  margin-bottom: 20px;
}

/*Media Queries (FOR MOBILE)*/

@media (max-width: 820px) {
    #Cookie {
        margin: 10%;
    }
  .btn1 {
    width: 300px;
    height: 40px;
   font-weight: 700;
   font-size: 13px;
  }
  .btn2 {
    width: 300px;
    height: 40px;
   font-weight: 700;
   font-size: 13px;
  }
  .box1 img {
    height: 35px;
    margin: 10px 10px;
  }
  .box1 h1 {
    font-size: 45px;
  }
  .box1 h2 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .account button {
    margin-top: 20px;
    width: 300px;
   font-weight: 700;
   font-size: 13px;
   height: 40px;
  }
  .email{
    width: 300px;
    height: 40px;
   font-weight: 700;
}
}
@media (max-width: 550px) {
  .container {
    flex-direction: column;
  }
  .container2 {
    width: 100%;
    padding: 10px 10px;
  }
  .section1 {
    width: 100%;
    display: none;
  }
  .section2 {
    height: 754px;
    width: 100%;
  }
  #twit {
    height: 19%;
  }
  .box1 {
    margin-left: 0;
  }
  .box1 h1 {
    font-size: 37px;
  }
  .box2 {
    display: block;
  }
  .btn1,
  .btn2 {
    margin: 10px auto;
  }
  .email {
    display: block;
    margin: auto;
  }

  .account {
    display: block;
    margin: 22px auto;
  }
}

/*FOR Tab*/
@media screen and (max-width: 820px) {
  .container {
    flex-direction: column-reverse;
    gap: 0;
  }

  .section2 {
    width: 100vw;
  }
  .section1 {
    width: 100%;
    height: 45vh;
    overflow: hidden;
  }

  .section1 {
    background-size: unset;
  }

  .section2 {
    height: unset;
  }

  .box1 {
    margin-left: 0px;
  }

  .box2 {
    display: block;
    /* height: 100px; */
  }
  .btn1,
  .btn2 {
    margin: 10px auto;
  }

  .account {
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 1140px) {
  .Phone {
    align-items: center;
  }

  .Phone p,
  .email,
  .account {
    margin-left: auto;
    margin-right: auto;
  }
}

/*HUBS*/

/* COLOR TOGGLE */

.toggle__button {
  background-color: rgb(180, 180, 180);
  height: 2.5rem;
  width: 2.5rem;
  position: fixed;
  top: 1.5rem;
  right: 1.5rem;
  border-radius: 50%;
  z-index: 2000;
  border: 2px solid black;
  justify-content: center;
  text-align: center;
  cursor: pointer;
}
.fa-sun:before {
  position: absolute;
  top: 10px;
  left: 10px;
}

.dark-mode {
  background-color: white !important;
  color: black !important;
}

.dark-mode .center span {
  color: black;
}

.black {
  color: black;
}
.blue {
  background-color: rgb(29, 155, 240);
}
.invert {
  filter: invert(1);
}
