* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  background: black;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

h1, h2, button {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* container of the main element of the page */
.container {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 95vh;
}

/* main image of twitter (left side of the screen) */
.container__image-background {
  display: flex;
  justify-content: center;
  background-image: url(../img/background.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 59vw;
  height: 95vh;
}
.container__image-background .logo__twitter {
  height: 33%;
  margin: auto;
}

/* Section for login button (right side of the screen) */
.container__login {
  width: 50vw;
  height: 95vh;
  color: white;
}
/* title of the right side */
.container__login-header {
  display: flex;
  flex-direction: column;
  margin: 10% auto auto;
}
/* logo of twitter */
.container__login-header img {
  height: 45px;
  width: 50px;
  margin: 30px 20px;
}
/* main title */
.container__login-header h1 {
  margin: 20px 20px;
  font-size: 65px;
  font-weight: 900;
}
/* secondary title */
.container__login-header h2 {
  margin: 20px 20px;
  font-size: 32px;
  font-weight: 900;
}

/*button for signup with google or apple*/
button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  background: white;
  transition: .2s linear;
}
button:hover {
  background: rgb(204, 203, 203);
  border: 3px solid rgb(204, 203, 203);
  transition: .3s linear;
}

/*button for signup with google*/
.button__signup-google {
  width: 350px;
  text-align: center;
  font-weight: 600;
  border-radius: 30px;
  padding: 0px 30px;
  border: 3px solid rgb(255, 247, 247);
  cursor: pointer;
  margin: 3%;
}
.button__signup-google img {
  height: 30px;
  margin: 2px 10px;
}

/*button for signup with apple*/
.button__signup-apple {
  width: 350px;
  margin-left: 20px;
  border: 3px solid rgb(244, 235, 235);
  border-radius: 30px;
  font-weight: 600;
  cursor: pointer;
  margin: 3%;
}
.button__signup-apple img {
  height: 30px;
  margin-right: 10px;
}

hr.dotted {
  border: 8px rounded rgb(15, 173, 240);
  border-radius: 15px;
  width: 20vw;
  margin: 5px 10px;
}

/*button for signup with email*/
.button__signupLogin-email {
  width: 350px;
  margin: 20px 25px auto;
  display: inline-block;
  color: white;
  padding: 10px 0px;
  border: 3px solid rgb(29, 155, 240);
  border-radius: 30px;
  font-weight: 600;
  background-color: rgb(29, 155, 240);
  cursor: pointer;
}
.button__signup-email:hover {
  background-color: rgb(14, 127, 202);
  border: 3px solid rgb(14, 127, 202);
  transition: .3s linear;
}

/*privacy policy*/
p {
  font-size: 10px;
  width: 350px;
  color: rgb(115, 131, 134);
  margin: 15px 1.5vw;
  text-align: center;
}
span {
  cursor: pointer;
}
span:hover {
  text-decoration: underline;
  text-decoration-color: rgb(29, 155, 240);
  transition: .3s linear;
}

/*button for the login*/
.button__login {
  font-weight: 900;
  font-size: 20px;
  margin: 40px 40px;
}
.button__login button {
  width: 350px;
  margin-top: 30px;
  color: rgb(29, 155, 240);
  padding: 10px 0px;
  border: 2px solid rgb(108, 110, 111);
  border-radius: 30px;
  font-weight: 600;
  background-color: rgb(0, 0, 0);
  cursor: pointer;
  font-size: 18px;
}
.button__login button:hover {
  background-color: rgb(254, 254, 254);
  border: 2px solid rgb(240, 233, 233);
  transition: .3s linear;
}

/* footer */
.footer {
  background: black;
  color: white;
  text-align: center;
  padding: 1%;
  display: flex;
  justify-content: space-evenly;
  letter-spacing: 1px;
}
.footer a, span {
  text-decoration: none;
  color: white;
}
.footer a:hover {
  transition: .3s linear;
  text-decoration: underline;
  text-decoration-color: gray;
}
#unclickable:hover {
  text-decoration: none;
  pointer-events: none;
}

/*media queries for mobile device*/
/*smartphone*/
@media only screen and (min-width: 320px) and (max-width: 480px) {
  html, body {
    background: #000;
    width: 100vw;
    height: 100vh;
  }
  h1, h2 {
    text-align: center;
  }
  .container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: flex-start;
    flex-direction: column-reverse;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .container__image-background {
    width: 100vw;
    height: 650px;
    margin: 70px auto 20px auto;
  }
  .container__login-header {
    width: 100vw;
    height: 40vh;
    margin: 0;
  }
  .container__login-header img {
    width: 55px;
    height: 50px;
    margin: 15% 5% auto;
  }
  .container__login-header h1 {
    font-size: 40px;
  }
  .container__login-header h2 {
    font-size: 20px;
  }

  hr.dotted {
    width: 100vw;
    margin: 30px auto;
  }

  .button__signup {
    width: 100vw;
  }
  .button__signupLogin {
    width: 100vw;
  }
  .button__signupLogin-email {
    margin: 0 10px;
  }
  p {
    margin: 20px 10px;
  }
  .button__login {
    margin: 50px auto auto;
    width: 100vw;
  }
  .button__login button {
    margin: 30px 7px;
  }

  .footer {
    width: 100vw;
    height: fit-content;
    margin: 0;
    flex-wrap: wrap;
    letter-spacing: 2px;
  }
}

/*FOR Tab*/
@media only screen and (min-width: 481px) and (max-width: 768px) {
  html, body {
    background: #000;
    width: 100vw;
    height: 100vh;
  }
  h1, h2 {
    text-align: center;
  }

  hr.dotted {
    width: 50vw;
    margin: 0;
  }

  .button__login {
    width: 50vw;
    margin: 50px auto auto;
  }
  .button__login button {
    margin: 25px auto auto 10px;
  }

  .footer {
    flex-wrap: wrap;
    letter-spacing: 3px;
  }
}